[submodule "deps/ygopro-core"]
	path = deps/ygopro-core
	url = https://github.com/ProjectIgnis/EDOPro-Core
[submodule "deps/lua53"]
	path = deps/lua53
	url = https://github.com/lua/lua.git
	branch = v5.3
